 <header style="background-color: #64b5f6; color: #fff; padding: 20px; text-align: center;">
    <h1 style="margin-bottom: 10px; font-size: 2em;">Weather Explorer</h1>
    <p style="font-size: 1.2em;">Discover the latest weather conditions</p>
     <h1 style="margin-bottom: 10px; font-size: 2em;">Welcome, {{ user.email }}!</h1>

    <nav>
      <a href="/users/logout" style="color: #fff; text-decoration: none; margin-right: 15px;">Logout</a>
      <button onclick="window.location.href='/users/register'" style="background-color: #4caf50; color: #fff; border: none; padding: 10px 20px; cursor: pointer; font-size: 1em;">Register</button>
    </nav>
  </header>
